.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 4rem;
}

.toolbar {
    position: relative;
    z-index: 1;
    background: #00564d;
    color: #DEEBFF;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);

    .mat-toolbar-row {
        flex-direction: row-reverse;

        button {
            font-size: 1.05rem;
            line-height: 1;
        }

        .chat {
            flex: 1;
            text-align: left;

            button {
                font-size: 3rem;
                line-height: 0;
            }
        }
    }
}
