<mat-sidenav-container class="container todo">
    <mat-sidenav
            mode="side"
            opened
            fixedInViewport="true"
            fixedTopGap="0"
            fixedBottomGap="0"
            class="sidebar">

        <ng-container *ngIf="isLoggedIn$ | async; else isNotLogin">
            <button mat-icon-button title="Tasks dashboard" routerLink="/dashboard" routerLinkActive="active">
                <mat-icon inline="true">dashboard</mat-icon>
            </button>

            <button mat-icon-button title="Add task" (click)="addTask()">
                <mat-icon inline="true">add_circle_outline</mat-icon>
            </button>
        </ng-container>

        <ng-template #isNotLogin>
            <button mat-icon-button title="Sign in" routerLink="/auth" routerLinkActive="active">
                <mat-icon inline="true">vpn_key</mat-icon>
            </button>

            <button mat-icon-button title="Sign up" routerLink="/register" routerLinkActive="active">
                <mat-icon inline="true">person_add</mat-icon>
            </button>
        </ng-template>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="toolbar" *ngIf="user$ | async as user">
            <mat-toolbar-row>
                <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>perm_identity</mat-icon>
                    {{ user.name || user.email }}
                </button>

                <mat-menu #menu="matMenu">
                    <button mat-menu-item title="Profile settings" routerLink="/settings">
                        <mat-icon>settings</mat-icon>
                        Profile settings
                    </button>
                    <button mat-menu-item title="Logout" (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        Logout
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

