.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fefefe;
    color: #172b4d;
}

.sidebar {
    background: #0747A6;
    color: #DEEBFF;
    width: 80px;
    text-align: center;
}

.toolbar {
    background: rgba(0, 0, 0, 0.12);
    border-bottom: 1px #d4d4d4 solid;

    .mat-toolbar-row {
        flex-direction: row-reverse;
    }

    button {
        position: relative;
        padding-left: 46px;
    }

    .toolbar-avatar {
        position: absolute;
        left: 8px;
        top: 1px;
        background: #a5a5a5;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        overflow: hidden;

        .mat-icon {
            color: #fff;
            font-size: 25px;
            line-height: 30px;
        }

        img {
            max-width: 100%;
        }
    }
}
