<mat-card class="chat-box">
    <mat-card-content class="chat-box-messages">
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
        <app-message></app-message>
    </mat-card-content>

    <mat-card-actions class="form-actions">

    </mat-card-actions>
</mat-card>
