<div class="todo-list" *ngIf="statuses$ | async as statuses">
    <div class="status" *ngFor="let status of statuses">
        <h2>{{ status.name }}</h2>
        
        <div class="tasks"
             cdkDropList
             [id]="status.id"
             [cdkDropListData]="status.tasksList"
             [cdkDropListConnectedTo]="statusIds"
             (cdkDropListDropped)="drop($event)">
            
            <app-task
                class="task"
                *ngFor="let task of status.tasksList"
                cdkDrag [task]="task">
            </app-task>
        </div>
    </div>
</div>
