<h2 class="subtitle">Board members</h2>

<mat-form-field class="users-list" *ngIf="users$ | async as users">
    <mat-chip-list #chipList aria-label="Users">
        <mat-chip
            *ngFor="let user of users"
            selectable
            removable
            (removed)="removeUser(user, users)">
            {{ user.name }}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        
        <input
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addUser($event)">
    </mat-chip-list>
    
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedUser($event.option.value, users)">
        <mat-option *ngFor="let user of userList" [value]="user">
            {{ user.name }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
