@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: #282828;
    color: #ededed;
}

.chat-glob {
    .subtitle {
        font-weight: 400;
        font-size: 20px;
        margin: 16px;
    }

    .mat-card {
        background: #00564d;
        color: #fefefe;
    }

    .mat-card-header-text {
        margin: 0 .4rem;
    }

    .form {
        width: 400px;
    }

    .form-field {
        width: 100%;
        margin-bottom: 8px;

        textarea {
            height: 120px;
        }

        .mat-form-field-ripple {
              background-color: #00897b;
        }

        .mat-form-field-label {
            color: #00897b;
        }

        &.mat-focused {
            .mat-form-field-label {
                color: #00897b;
            }

            .mat-form-field-ripple {
                background-color: #00897b;
            }
        }

        &.mat-form-field-invalid {
            .mat-form-field-label {
                color: #f44336;
            }

            .mat-form-field-ripple {
                background-color: #f44336;
            }
        }
    }

    .mat-input-element {
        caret-color: #00897b;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: #00897b;
    }

    .form-field-select {
        width: calc(50% - 8px);

        &.left {
            margin-right: 16px;
        }
    }

    .form-actions {
        text-align: right;
    }
}

.error-message {
    color: #f9284d;

    .mat-simple-snackbar-action {
        color: #fff;
    }
}

.success-message {
    color: #00897b;

    .mat-simple-snackbar-action {
        color: #fff;
    }
}
