.statuses {
    margin: 16px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    .status {
        background: #cfd8dc;

        .status-title {
            margin: 0 8px 13px;
            font-weight: 500;
            font-size: 20px;
        }

        .status-actions {
            text-align: right;

            .status-root {
                float: left;
                font-size: 12px;
                color: #f44336c4;
                text-align: left;
                line-height: 28px;
                position: absolute;
                left: 24px;
            }

            .mat-icon-button {
                font-size: 20px;
                width: 28px;
                height: 28px;
                line-height: 20px;
                margin: 0 0 4px;
            }
        }

        &.add-status {
            cursor: pointer;
            display: grid;
            align-items: center;
            justify-items: center;
            background: #80cbc4;

            .mat-icon {
                font-size: 64px;
                color: #696969;
            }
        }
    }
}

.cdk-drag-preview {
    border-radius: 4px;
    box-sizing: border-box;
    background: #d7ccc8;
}

.cdk-drag-placeholder {
     opacity: 0.5;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
